/* styles.css */

/* General */
body {
  font-size: 12px; /* Default font size */
}

@keyframes shimmer {
  0% {
    background-position: -20rem 0;
  }
  100% {
    background-position: 20rem 0;
  }
}

.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 20rem 100%;
}

/*******************************************
 *                                         *
 * - S2 Donations Section Styles.          *
 *                                         *
 *******************************************/

/* Extended S2-Intro Section Styles */
#S2-Intro {
  padding: 2rem 0;
  background-color: #fff; /* Assuming white background for this section */
  margin-bottom: 2rem;
}

#S2-Intro h2 {
  font-size: 1.25rem; /* Larger font size for better readability */
  margin-bottom: 1rem;
  color: #212529; /* Bootstrap default for text */
}

#S2-Intro p {
  font-size: 1rem;
  color: #212529; /* Bootstrap default for text */
}

#S2-Intro ul {
  padding-left: 20px; /* Proper indentation for bullets */
}

#S2-Intro a#hoverA1bot {
  display: inline-block; /* For proper popover positioning */
  margin-top: 1rem;
  text-decoration: underline; /* To indicate interactivity */
  color: #007bff; /* Bootstrap default for link color */
  cursor: pointer; /* Changes the cursor to indicate it's clickable */
}

/*******************************************
 *                                         *
 * - S5 Donations Section Styles           *
 *                                         *
 *******************************************/

#S5-Donations {
  background-color: #f8f9fa; /* Light grey background for contrast */
  padding: 1rem;
  border-radius: 0.5rem;
}

.S5-Donations-title {
  color: #333;
  font-size: 1.5rem; /* Responsive font size */
  margin-bottom: 0.5rem;
}

.S5-Donations-text {
  color: #666;
  margin-bottom: 1rem;
}

.paypal-button {
  display: inline-block; /* Align the button correctly */
  margin: 0; /* Remove any default margins */
}

@media (min-width: 576px) {
  .S5-Donations-title {
    font-size: 2rem; /* Larger font size on small devices and up */
  }
}
