:root {
  --primary-color: #007bff;
  --secondary-color: #ffc107;
  --navbar-height: 56px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/*************************************************/
/******* S0-Navbar styling - start ******/
/*************************************************/

/*************************************************/
/******* S0-Navbar styling - end ******/
/*************************************************/

/*************************************************/
/******* S1-Quote styling - start ******/
/*************************************************/

/*************************************************/
/******* S1-Quote styling - end ******/
/*************************************************/
