/* styles.css */

/* General */
body {
  font-size: 12px; /* Default font size */
  font-family: "Arial", sans-serif;
}

@keyframes shimmer {
  0% {
    background-position: -20rem 0;
  }
  100% {
    background-position: 20rem 0;
  }
}

.shimmer {
  animation: shimmer 2s infinite linear;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 20rem 100%;
}

/* Navbar Styles */
.navbar {
  margin-bottom: 20px; /* Creates space between navbar and content */
}

/* Footer Styles */
.footer {
  background-color: #f5f5f5; /* Light grey background */
  padding: 20px 0; /* Padding for top and bottom */
  text-align: center; /* Centers the footer content */
}

/*******************************************
*                                         *
* - S2 - AI                               *
*                                         *
*******************************************/

#S2-AI {
  position: relative;
}

.S2-FeatureCard {
  background-color: transparent; /* Make the cards transparent */
  background-size: contain; /* Ensure the entire image is visible */
  background-repeat: no-repeat;
  background-position: center; /* Center the image */
  opacity: 0.5; /* Adjust transparency */
  transition: opacity 0.5s ease; /* Add transition for smooth effect */
}

.S2-FeatureCard .card-body {
  position: relative;
  font-size: 1.5em; /* Adjust this value to make the icon bigger or smaller */
}

.S2-FeatureCard .list-unstyled {
  text-align: left;
  padding: 0;
}

.S2-FeatureCard .info-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: black;
  cursor: pointer;
  z-index: 5;
  font-size: 2em; /* Adjust this value to make the icon bigger or smaller */
}

.S2-FeatureCard .overlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.965);
  color: white;
  padding: 20px;
  overflow: auto;
}

.S2-FeatureCard:hover .info-icon {
  animation: jump 0.5s ease;
  font-size: 2em; /* Adjust this value to make the icon bigger or smaller */
}

@keyframes jump {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
/* CSS */
.S2-FeatureCard {
  background-repeat: no-repeat;
  background-size: 100% 300%;
}

.S2-FeatureCard:nth-child(1) {
  background-position: 0% 0%;
}

.S2-FeatureCard:nth-child(2) {
  background-position: 0% 50%;
}

.S2-FeatureCard:nth-child(3) {
  background-position: 0% 100%;
}

/*******************************************
 *                                         *
 * - S3 - Bots          *
 *                                         *
 *******************************************/

#bots .row {
  display: flex;
  flex-wrap: wrap;
}

#bots .row > div {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

#bots .row > div > * {
  flex-grow: 1;
}

#bots img {
  width: 100px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  object-fit: contain; /* To maintain aspect ratio */
}

/*******************************************
 *                                         *
 * - S5 Donations Section Styles           *
 *                                         *
 *******************************************/

#S5-Donations {
  background-color: #f8f9fa; /* Light grey background for contrast */
  padding: 1rem;
  border-radius: 0.5rem;
}

.S5-Donations-title {
  color: #333;
  font-size: 1.5rem; /* Responsive font size */
  margin-bottom: 0.5rem;
}

.S5-Donations-text {
  color: #666;
  margin-bottom: 1rem;
}

.paypal-button {
  display: inline-block; /* Align the button correctly */
  margin: 0; /* Remove any default margins */
}

@media (min-width: 576px) {
  .S5-Donations-title {
    font-size: 2rem; /* Larger font size on small devices and up */
  }
}
